body * {
    border-radius: 5px;
    border: 1px solid grey;

}
.div{
    width: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: whitesmoke;
}
.header{
    width: 300px;
    margin: 5px auto;
    background-color: whitesmoke
    color: darkblue;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
.footer{
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.persent{
    width: 60px;
    height: 60px;
    background-color: whitesmoke;
    margin-bottom: 5px;
}
.loader{
    width: 300px;
    height: 60px;
    margin-bottom: 5px;
    background-color: whitesmoke;
}
.inputField,
.footer {
    border: none;

}
.input{
    font-size: 16px;
    padding: 12px;
    margin: 10px;
}
.btn{
    font-size: 13px;
    padding: 12px;
    margin: 10px;
}
.content{
    border: none;
    padding: 30px 10px;
}
.ul{
    list-style-type: none;
}
.li{
    padding: 10px;
}
.pen,
.btnDel {
    padding: 20px;
}
.pen{
    background-color: aqua;
}
.btnDel {
    background-color: darkseagreen;
}
.loader{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.block{
    background-color: red;
}